a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
        }

    a:visited {
        color: orange;
        background-color: transparent;
        text-decoration: none;
            }

    a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
            }

    a:active {
color: green;
background-color: transparent;
text-decoration: underline;
            }
            